package-lock.json
LICENSE.md
src/sidebar/dist                                                                                                                                                
src/sidebar/lib
