html {
  font: message-box;
  color: #333;
  overflow-y: hidden;
}

body {
  font-size: 15px;
  opacity: 0;
}

body.loaded {
  opacity: 1;
}

h1 {
  font-size: 16px;
  font-weight: normal;
  padding-left: 2px;
  padding-bottom: 4px;
  margin: 0;
  margin-bottom: 4px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.3);
}

p + h1 {
  margin-top: 10px;
}

p {
  margin: 10px 0px;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: text-top;
  margin-right: 6px;
}

.radio-config-row {
  display: flex;
  justify-content: space-between;
}

.radio-group {
  display: flex;
  gap: 12px;
}

.explanation {
  opacity: 0.8;
  margin-top: 0;
}

textarea {
  padding: 6px;
  border: 1px solid hsla(0, 0%, 0%, 0.3);
  border-radius: 2px;
}

textarea:disabled {
  background-color: #f9f9fa; /* --grey-10 */
}

#customCSS {
  margin: 0 2px;
  width: calc(100% - 4px);
  height: 25rem;
  resize: vertical;
  overflow: auto;
}

ul {
  padding-left: 20px;
}

a,
a:visited {
  color: #0a84ff; /* --blue-50 */
  text-decoration: none;
}

a:hover {
  color: #0060df; /* --blue-60 */
  text-decoration: underline;
}
